<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="selectedPrinter" class="xmlApproach.PrinterBW"></bean>

    <bean id="worker" class="xmlApproach.Worker">
        <property name="workerName" value="Daniel"></property>
        <property name="printer" ref="selectedPrinter">
        </property>
    </bean>



</beans>